* {margin: 0 auto ;}
body{ font-family: Open sans-serif;

}
ul{line-height: 30px;}

ul li{
    list-style: none;
}
ul  a {display: inline;
    text-decoration: none;
    color: rgb(102,102,102);
    text-align: right;
}
ul a i{color: black;}
.redes{
    
    text-align: right;
    font-weight: bold;
    padding: 20 10;
  
}
ul.menu{
    margin-top: 0px;
    padding: 20px 10px;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: right;
    font-weight: bold;
    color: black;
    
}ul.menu li{
    display: inline;
    font-size: 17px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: initial;}
h2{
    margin-top: 150px;
    font-family: 'Work Sans';
    font-weight:300 ;
    margin-left: 40px;
    letter-spacing: 5px;
}
h1{
    margin-top: 150px;
     font-family: 'Raleway', sans-serif;
    font-size: 72px;
    margin-left: 35px;
    background-color: rgba(255,255,255,0.5);
}
.fa-twitter:hover{color: rgb(53, 172, 247);}
.fa-facebook-square:hover{color:rgb(32, 32, 255);}
.fa-spotify:hover{color: rgb(5, 83, 5);}
.fa-apple:hover{color: rgba(134, 125, 125, 0.753);}
.fa-amazon:hover{color:orange;}
.fa-instagram:hover{color:rgb(248, 7, 196);}
